/Part 1/BMI/nbproject/private/
/Part 1/BMI/build/
/Part 1/Taxation/nbproject/private/
/Part 1/Taxation/build/
/Part 1/MonthlyInstalments/nbproject/private/
/Part 1/MonthlyInstalments/build/
/Part 1/JavaApplication6/nbproject/private/
/Part 1/JavaApplication6/build/
/Part 1/Calculator/nbproject/private/
/Calculator/nbproject/private/
/Part 1/Calculator/build/
/Part 2/UnevenNumbers/nbproject/private/
/Part 2/UnevenNumbers/build/
/Part 2/SumNumbersInbetween/nbproject/private/
/Part 2/SumNumbersInbetween/build/
/Part 2/PowersOfTwo/nbproject/private/
/Part 2/PowersOfTwo/build/
/Part 2/DisplaySum/nbproject/private/
/Part 2/DisplaySum/build/
/Part 2/SumAndAvg/nbproject/private/
/Part 2/SumAndAvg/build/
/Part 2/GuessNumber/nbproject/private/
/Part 2/GuessNumber/build/
/Part 2/DrawRectangle/nbproject/private/
/Part 2/DrawRectangle/build/
/Part 2/DrawTree/nbproject/private/
/Part 2/DrawTree/build/
/Part 2/SumDigitsInNumber/nbproject/private/
/Part 2/SumDigitsInNumber/build/
/Part 2/FindDividers/nbproject/private/
/Part 2/FindDividers/build/
/Part 2/IsPrime/nbproject/private/
/Part 2/IsPrime/build/