/Part 1/BMI/nbproject/private/
/Part 1/BMI/build/
/Part 1/Taxation/nbproject/private/
/Part 1/Taxation/build/
/Part 1/MonthlyInstalments/nbproject/private/
/Part 1/MonthlyInstalments/build/
/Part 1/JavaApplication6/nbproject/private/
/Part 1/JavaApplication6/build/
/Part 1/Calculator/nbproject/private/
/Calculator/nbproject/private/
/Part 1/Calculator/build/
/Part 2/UnevenNumbers/nbproject/private/
/Part 2/UnevenNumbers/build/
/Part 2/SumNumbersInbetween/nbproject/private/
/Part 2/SumNumbersInbetween/build/
/Part 2/PowersOfTwo/nbproject/private/
/Part 2/PowersOfTwo/build/
/Part 2/DisplaySum/nbproject/private/
/Part 2/DisplaySum/build/
/Part 2/SumAndAvg/nbproject/private/
/Part 2/SumAndAvg/build/
/Part 2/GuessNumber/nbproject/private/
/Part 2/GuessNumber/build/
/Part 2/DrawRectangle/nbproject/private/
/Part 2/DrawRectangle/build/
/Part 2/DrawTree/nbproject/private/
/Part 2/DrawTree/build/
/Part 2/SumDigitsInNumber/nbproject/private/
/Part 2/SumDigitsInNumber/build/
/Part 2/FindDividers/nbproject/private/
/Part 2/FindDividers/build/
/Part 2/IsPrime/nbproject/private/
/Part 2/IsPrime/build/
/Part 3/TableInfo/nbproject/private/
/Part 3/TableInfo/build/
/Part 3/CountElemInTable/nbproject/private/
/Part 3/ArrayInfo/nbproject/private/
/Part 3/CountElemInArray/nbproject/private/
/Part 3/CountElemInArray/build/
/Part 3/MinMaxIn2DArray/nbproject/private/
/Part 3/MinMaxIn2DArray/build/
/Part 3/IntegerToBinary/nbproject/private/
/Part 3/IntegerToBinary/build/
/Part 3/BoolArray/nbproject/private/
/Part 3/BoolArray/build/
/Test 1/100Numbers/nbproject/private/
/Test 1/100Numbers/build/
/Test 1/2dArray/nbproject/private/
/Test 1/2dArray/build/
/Test 1/Encrypt/nbproject/private/
/Test 1/Encrypt/build/
/Part 4/CountCharsInFile/nbproject/private/
/Part 4/CountCharsInFile/build/
/Part 4/CountCharsInFile/dist/
/Part 4/FindWordInLine/nbproject/private/
/Part 4/FindWordInLine/build/
/Part 4/FileCipher/nbproject/private/
/Part 4/FileCipher/build/
/Part 4/RetirementFiles/nbproject/private/
/Part 4/RetirementFiles/build/
/Part 4/GenerateHTMLTable/nbproject/private/
/Part 4/GenerateHTMLTable/build/